<!doctype html>
<html>
<head>
    <title>Search Workouts - <%= appData.appName %></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <div class="container">
        <h1>Search Workouts</h1>
        <form action="/workouts/search-result" method="GET">
            <input type="text" name="keyword" placeholder="Search by activity (e.g. Yoga)..." required>
            <input type="submit" value="Search">
        </form>
        <p><a href="/">Home</a></p>
    </div>
</body>
</html>